.tmp.driveupload/
src/firmware/stm32/components/usb-fs/Debug/
tool/
src/hardware/board/src/eeg-measurement-circuit/__Previews/
src/hardware/board/src/eeg-measurement-circuit/History/
src/hardware/board/src/eeg-measurement-circuit/Project Logs for eeg-measurement-circuit/
src/hardware/board/src/eeg-measurement-circuit/Project Outputs for eeg-measurement-circuit/
src/software/src/EEG-Viewer_101/untitled1/.qtcreator/Python_3_12_8venv/
src/software/src/machine-learning/dataset/
src/hardware/board/src/eeg-measurement-circuit_test-board/History/ADC.~(1).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/ADC.~(2).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/ADC.~(3).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/ADC.~(4).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/ADC.~(5).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/ADC.~(6).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/ADC.~(7).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/ADC.~(8).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/ADC.~(9).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/ADC.~(11).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/ADC.~(12).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/ADC.~(13).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/ADC.~(14).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Block Diagram.~(1).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Block Diagram.~(2).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Block Diagram.~(3).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Block Diagram.~(4).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Block Diagram.~(5).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Block Diagram.~(6).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Block Diagram.~(7).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Block Diagram.~(8).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Block Diagram.~(9).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Block Diagram.~(13).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Block Diagram.~(14).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Block Diagram.~(15).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Detailed Power Schematic.~(1).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Detailed Power Schematic.~(2).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Detailed Power Schematic.~(3).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Detailed Power Schematic.~(4).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Detailed Power Schematic.~(5).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Detailed Power Schematic.~(6).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Detailed Power Schematic.~(7).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Detailed Power Schematic.~(8).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Detailed Power Schematic.~(9).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Detailed Power Schematic.~(10).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Detailed Power Schematic.~(11).#(Deleted).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Digital Processing.~(1).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/EEG Preprocessing.~(1).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/EEG Preprocessing.~(3).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/EEG Preprocessing.~(4).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/EEG Preprocessing.~(5).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/EEG Preprocessing.~(6).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/EEG Preprocessing.~(7).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/EEG Preprocessing.~(8).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/EEG Preprocessing.~(9).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/EEG Preprocessing.~(23).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/EEG Preprocessing.~(24).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/EEG Preprocessing.~(25).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/EEG Preprocessing.~(26).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/EEG Preprocessing.~(27).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/EEG Preprocessing.~(28).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/EEG Preprocessing.~(29).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/EEG Preprocessing.~(30).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/EEG Preprocessing.~(31).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/EEG Preprocessing.~(32).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/EEG Preprocessing.~(33).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/EEG Preprocessing.~(34).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/EEG Preprocessing.~(35).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/EEG Preprocessing.~(36).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/EEG Preprocessing.~(37).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/EEG Preprocessing.~(38).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/EEG Preprocessing.~(39).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/EEG Preprocessing.~(40).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/EEG Preprocessing.~(41).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/EEG Preprocessing.~(42).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/EEG Preprocessing.~(43).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/EEG Preprocessing.~(44).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/EEG Preprocessing.~(45).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/EEG Preprocessing.~(46).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/EEG Preprocessing.~(47).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/EEG Preprocessing.~(48).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/EEG Preprocessing.~(49).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/EEG Preprocessing.~(50).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/EEG Preprocessing.~(51).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/EEG Preprocessing.~(52).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/EEG Preprocessing.~(53).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/EEG Preprocessing.~(54).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/EEG Preprocessing.~(55).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/EEG Preprocessing.~(56).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/EEG Preprocessing.~(57).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/EEG Preprocessing.~(58).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/eeg-measurement-circuit_test-board.~(1).PrjPcb.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/eeg-measurement-circuit.~(1).PrjPcb.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/eeg-measurement-circuit.~(6).PrjPcb.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/eeg-measurement-circuit.~(7).PrjPcb.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/eeg-measurement-circuit.~(8).PrjPcb.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/eeg-measurement-circuit.~(9).PrjPcb.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/eeg-measurement-circuit.~(12).PrjPcb.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/eeg-measurement-circuit.~(13).PrjPcb.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/eeg-measurement-circuit.~(14).PrjPcb.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/eeg-measurement-circuit.~(15).PrjPcb.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/eeg-measurement-circuit.~(16).PrjPcb.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/eeg-measurement-circuit.~(17).PrjPcb.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/eeg-measurement-circuit.~(18).PrjPcb.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/eeg-measurement-circuit.~(19).PrjPcb.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/eeg-measurement-circuit.~(20).PrjPcb.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/eeg-measurement-circuit.~(21).PrjPcb.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/eeg-measurement-circuit.~(22).PrjPcb.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/eeg-measurement-circuit.~(23).PrjPcb.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Electrodes Isolation.~(1).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Electrodes Isolation.~(2).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Electrodes Isolation.~(3).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Electrodes Isolation.~(4).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Electrodes Isolation.~(5).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Electrodes Isolation.~(6).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Electrodes Isolation.~(7).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Electrodes Isolation.~(8).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Electrodes Isolation.~(9).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Electrodes Isolation.~(10).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Electrodes Isolation.~(11).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Interface.~(1).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Interface.~(2).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Job1.~(1).OutJob.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Job1.~(4).OutJob.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Job1.~(5).OutJob.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Job1.~(6).OutJob.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Patient Protection.~(1).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Patient Protection.~(2).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Patient Protection.~(3).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Patient Protection.~(4).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Patient Protection.~(5).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Patient Protection.~(6).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Patient Protection.~(7).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Patient Protection.~(8).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Patient Protection.~(9).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Patient Protection.~(17).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Patient Protection.~(18).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Patient Protection.~(19).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Patient Protection.~(20).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Patient Protection.~(21).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Patient Protection.~(22).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Patient Protection.~(23).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Patient Protection.~(24).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Patient Protection.~(25).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Patient Protection.~(26).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Patient Protection.~(27).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/PCB1.~(1).PcbDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/PCB1.~(4).PcbDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/PCB1.~(5).PcbDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/PCB1.~(6).PcbDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/PCB1.~(7).PcbDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/PCB1.~(8).PcbDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/PCB1.~(9).PcbDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/PCB1.~(37).PcbDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/PCB1.~(38).PcbDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/PCB1.~(39).PcbDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/PCB1.~(40).PcbDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/PCB1.~(41).PcbDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/PCB1.~(42).PcbDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/PCB1.~(43).PcbDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/PCB1.~(44).PcbDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/PCB1.~(45).PcbDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/PCB1.~(46).PcbDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/PCB1.~(47).PcbDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/PCB1.~(48).PcbDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/PCB1.~(49).PcbDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/PCB1.~(50).PcbDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/PCB1.~(51).PcbDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/PCB1.~(52).PcbDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/PCB1.~(53).PcbDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/PCB1.~(54).PcbDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/PCB1.~(55).PcbDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/PCB1.~(56).PcbDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/PCB1.~(57).PcbDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/PCB1.~(58).#(Deleted).PcbDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/PCB1.~(59).PcbDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/PCB1.~(60).PcbDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/PCB1.~(61).PcbDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/PCB1.~(62).PcbDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/PCB1.~(63).PcbDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/PCB1.~(64).PcbDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/PCB1.~(65).PcbDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/PCB1.~(66).PcbDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/PCB1.~(67).PcbDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/PCB1.~(68).PcbDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/PCB1.~(69).PcbDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/PCB1.~(70).PcbDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/PCB1.~(71).PcbDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/PCB1.~(72).PcbDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/PCB1.~(73).PcbDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/PCB1.~(74).PcbDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/PCB1.~(75).PcbDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/PCB1.~(76).PcbDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/PCB1.~(77).PcbDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/PCB1.~(78).PcbDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/PCB1.~(79).PcbDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/PCB1.~(80).PcbDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/PCB1.~(81).PcbDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/PCB1.~(82).PcbDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/PCB1.~(83).PcbDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/PCB1.~(84).PcbDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/PCB1.~(85).PcbDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/PCB1.~(86).PcbDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/PCB2.~(1).#(Deleted).PcbDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Power Diagram.~(1).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Power Diagram.~(2).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Power Diagram.~(3).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Power Diagram.~(4).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Power Diagram.~(5).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Power Diagram.~(6).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Power Diagram.~(7).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Power Diagram.~(8).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Power Diagram.~(9).#(Deleted).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Power Supplies.~(1).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Power Supplies.~(7).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Power Supplies.~(8).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Power Supplies.~(9).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Power Supplies.~(16).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Power Supplies.~(17).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Power Supplies.~(18).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Power Supplies.~(19).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Power Supplies.~(20).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Power Supplies.~(21).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Power Supplies.~(22).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Power Supplies.~(23).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Power Supplies.~(24).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Power Supplies.~(25).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Power Supplies.~(26).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Power Supplies.~(27).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Power Supplies.~(28).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Power Supplies.~(29).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Power Supplies.~(30).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Power Supplies.~(31).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Power Supplies.~(32).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Power Supplies.~(33).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Power Supplies.~(34).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Power Supplies.~(35).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Power Supplies.~(36).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Power Supplies.~(37).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Power Supplies.~(38).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Power Supplies.~(39).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Power Supplies.~(40).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Root.~(1).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Root.~(2).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Root.~(3).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Root.~(4).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/Root.~(5).SchDoc.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/__Previews/ADC.SchDocPreview
src/hardware/board/src/eeg-measurement-circuit_test-board/__Previews/Block Diagram.SchDocPreview
src/hardware/board/src/eeg-measurement-circuit_test-board/__Previews/Detailed Power Schematic.SchDocPreview
src/hardware/board/src/eeg-measurement-circuit_test-board/__Previews/Digital Processing.SchDocPreview
src/hardware/board/src/eeg-measurement-circuit_test-board/__Previews/EEG Preprocessing.SchDocPreview
src/hardware/board/src/eeg-measurement-circuit_test-board/__Previews/Electrodes Isolation.SchDocPreview
src/hardware/board/src/eeg-measurement-circuit_test-board/__Previews/Interface.SchDocPreview
src/hardware/board/src/eeg-measurement-circuit_test-board/__Previews/Patient Protection.SchDocPreview
src/hardware/board/src/eeg-measurement-circuit_test-board/__Previews/Power Diagram.SchDocPreview
src/hardware/board/src/eeg-measurement-circuit_test-board/__Previews/Power Supplies.SchDocPreview
src/hardware/board/src/eeg-measurement-circuit_test-board/__Previews/Root.SchDocPreview
src/hardware/board/src/eeg-measurement-circuit_test-board/History/eeg-measurement-circuit_test-board.~(2).PrjPcb.Zip
src/hardware/board/src/eeg-measurement-circuit_test-board/History/PCB1.~(87).PcbDoc.Zip
